@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Montserrat:wght@200;400;600;700;800&family=Nunito+Sans:ital,wght@0,200;0,300;0,600;1,400&family=Poppins:ital,wght@0,400;0,700;0,800;1,300;1,700;1,800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --grey-1: #dfe3fa;
  --yellow: #ff8f00;
  --teal: #33d69f;
  --deep-blue-1: #141625;
  --deep-blue-2: #141625;
  --deep-blue-3: #0c0e16;
  --primary-purple: #7c5dfa;
  --purple-1: #1e2139;
  --purple-2: #858bb2;
  --purple-3: #252945;
  --error: #ec5757;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  /* background-color: var(--deep-blue); */
}
.app-container {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  /* max-width: 114rem;
  margin-top: 6rem;
  margin-inline: auto; */
  color: var(--white);
}
body {
  background-color: var(--deep-blue-1);
}
.main-section {
  width: 100%;
  background-color: var(--deep-blue-1);
  padding: 6rem 6rem;
  padding-left: 0;

  /* margin-top: 6rem; */
  margin-inline: auto;
}

.sidebar {
  background-color: var(--purple-1);
  width: 6rem;
}
header {
  width: 70%;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}
.num {
  display: none;
}
.invoice {
  font-weight: bolder;
  text-transform: capitalize;
  color: var(--white);
}
.total-invoice {
  color: var(--grey-1);
  font-size: 1rem;
}
.invoice-info-2 {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
}

.btn {
  /* padding: 1.5rem; */
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 1.5rem;
  padding-left: 0.7rem;
  align-self: center;
  border-radius: 1000rem;
  cursor: pointer;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: transform 0.3s ease-in-out;
}
.btn:hover {
  transform: translateY(-3px);
}
.btn:active {
  transform: translateY(-1px);
}
.invoice-btn {
  color: var(--white);
  background-color: var(--primary-purple);
}

.btn-svg {
  display: grid;
  place-items: center;
  background-color: var(--white);
  height: 3rem;
  width: 3rem;

  border-radius: 50%;
}
.select {
  padding: 0.5rem;
  border-radius: 4px;
  background-color: inherit;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: inherit;
  appearance: none;
  background-image: url("./assets/icon-arrow-down.svg");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 2rem;
  text-transform: capitalize;
  color: var(--white);
  text-align: center;
}
.select option {
  background-color: var(--deep-blue);
  text-transform: capitalize;

  padding: 5px;
}
select option :active {
  background-color: var(--deep-blue);
}
.select:focus {
  outline: none;
}

.invoice-container {
  width: 70%;
  margin-inline: auto;
}
.invoice-card {
  font-family: "Montserrat";
  background-color: var(--purple-1);
  border-radius: 5px;
  padding: 1.5rem;
  display: grid;
  cursor: pointer;
  grid-template-columns: max-content 0.4fr 0.8fr 0.4fr 0.4fr auto;
  place-items: center;
  gap: 2.5rem;
  width: 100%;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
}
.invoice-card:hover {
  transform: translateX(7px);
  background-color: #252945;
}

.invoice-text-bold {
  font-weight: bold;
  justify-self: start;
}
.invoice-text-light {
  font-weight: 400;
  font-size: 1.3rem;

  font-family: "Montserrat";
}

.invoice-status-container {
  /* display: flex; */
  /* align-items: center;
  justify-self: flex-start; */
  text-align: center;

  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  gap: 0.3rem;
  text-align: center;
  text-transform: capitalize;
}
.dot {
  height: 7px;
  width: 7px;
  display: inline-block;
  margin-right: 0.5rem;

  border-radius: 50%;
  background-color: var(--teal);
}
.invoice-status {
  border-radius: 3px;
}
/* NEW INVOICE */
.invoice-section {
  width: 100%;
  background-color: var(--deep-blue-1);
}
.new-invoice {
  max-width: 40vw;
  padding-inline: 3rem;
  padding-block: 6rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: #1e2139;

  /* border: solid 3px red; */
}
.form-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.form-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.form-4-col {
  display: grid;
  width: 100%;
  grid-template-columns: 0.6fr 5rem 0.25fr 0.25fr auto;
  gap: 1rem;
}
.remove-item {
  align-self: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.remove-item:hover {
  transform: translateY(-2px);
}
.remove-item:hover path {
  fill: var(--error);
}
/* FORM */
.invoice-input {
  margin-bottom: 2rem;
  width: 100%;
}
.invoice-input label {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
}
.invoice-input input,
.new-item-name input,
.total,
select {
  border-radius: 5px;
  font-weight: 500;
  padding: 1rem;
  font-family: inherit;
  font-size: 1.5rem;
  width: 100%;
  border-color: transparent;
  outline: none;
  background-color: var(--purple-3);
  color: var(--white);
}
.item-total {
  display: grid;
}
.form-control {
  margin-bottom: 2rem;
}
.form-control h4 {
  margin-bottom: 2rem;
  color: var(--primary-purple);
}
.error {
  color: var(--error);
  font-size: 0.8rem;
  display: block;
}
.new-item {
  width: 100%;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 5rem 0.5fr 0.5fr 5rem;
  gap: 2rem;
}

.bin {
  display: grid;
  place-items: center;
}

.bin svg {
  cursor: pointer;
}

.total {
  background-color: var(--purple-3);
  padding: 1rem;
  text-align: center;
  align-self: end;
}
.btn-add {
  width: 100%;
  background-color: var(--purple-3);
  color: var(--white);
}
.btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.btn-others {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.btn-discard {
  color: var(--primary-purple);
  padding-inline: 1.5rem;
}
.btn-draft {
  background-color: #373b53;
  color: var(--white);
}
.btn-send {
  background-color: var(--primary-purple);
  color: var(--white);
}
.router-link {
  color: inherit;
  text-decoration: inherit;
}
/* //////////////MEDIA QUERIES //////////////////////////////////////// */
@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }
  .main-section {
    padding: 0;
  }
  header {
    width: 80%;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr;
    margin-top: 0;
  }
  .sidebar {
    width: 100%;
  }
  .invoice-container {
    width: 80%;
    margin-inline: auto;
  }
  .invoice-status-container {
    /* padding: 0; */
  }
  .invoice-card {
    grid-template-columns:
      max-content max-content 1fr 0.5fr
      0.5fr auto;
    /* padding: 0.8rem; */
    margin-bottom: 2rem;

    gap: 1.5rem;
  }
  .new-invoice {
    /* width: 50%; */
    max-width: 50vw;
  }
  .btn-others {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .main-section {
    /* padding: 0; */
  }
}
@media (max-width: 600px) {
  html {
    font-size: 45%;
  }

  .invoice-card {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }
  .invoice-card > * {
    padding: 1rem;
  }
  .span-icon {
    display: none;
  }
  .invoice-text-light {
    grid-row: 2/3;
    /* grid-column: 1/2; */
  }
  .invoice-text-light.name {
    grid-column: 2/-1;
    grid-row: 1/2;
  }
  .invoice-status-container {
    grid-column: 2/3;
  }
  .invoice-text-bold.id {
    grid-row: 1/2;
  }
  .invoice-text-bold {
    grid-row: 3/4;
  }
  .total {
    /* display: none; */
  }
  .num {
    display: inline-block;
  }
  .invoice-btn {
    /* padding: 0.4rem 0.9rem; */
    gap: 3px;
  }
  .filter-by {
    display: none;
  }
  .hide-new {
    display: none;
  }
  .new-invoice {
    max-width: 100vh;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .new-item {
    grid-template-columns: repeat(8, 1fr);
  }
  .item-name {
    grid-column: 1/-1;
  }
  /* .item-price {
    grid-column: 1 / 3;
  }
  .quantity {
    grid-column: 3/5;
  }
  .item-total{
    grid-column: 5/7;
  } */
  .item-price {
    grid-column: 3/5;
  }
  .quantity {
    grid-column: 1/3;
  }
  .item-total {
    grid-column: 5/7;
  }
  .bin {
    grid-column: 7/9;
  }
}
