@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Montserrat:wght@200;400;600;700;800&family=Nunito+Sans:ital,wght@0,200;0,300;0,600;1,400&family=Poppins:ital,wght@0,400;0,700;0,800;1,300;1,700;1,800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --grey-1: #dfe3fa;
  --yellow: #ff8f00;
  --teal: #33d69f;
  --deep-blue: #141625;
  --primary-purple: #7c5dfa;
  --purple-1: #1e2139;
  --purple-2: #858bb2;
}
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
.app-container {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 114rem;
  margin-top: 6rem;
  margin-inline: auto;
  color: var(--white);
}
.main-section {
  width: 100%;
  background-color: var(--deep-blue);
  padding: 6rem 6rem;
  padding-left: 0;

  /* margin-top: 6rem; */
  margin-inline: auto;
}
.sidebar {
  background-color: var(--purple-1);
  width: 6rem;
}
header {
  width: 70%;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}
.num {
  display: none;
}
.invoice {
  font-weight: bolder;
  text-transform: capitalize;
  color: var(--white);
}
.total-invoice {
  color: var(--grey-1);
  font-size: 1rem;
}
.invoice-info-2 {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
}

.invoice-btn {
  /* padding: 1.5rem; */
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 1.5rem;
  padding-left: 0.7rem;
  align-self: center;
  border-radius: 1000rem;
  color: var(--white);
  background-color: var(--primary-purple);
  border: none;
  text-transform: capitalize;
}

.btn-svg {
  display: grid;
  place-items: center;
  background-color: var(--white);
  height: 3rem;
  width: 3rem;

  border-radius: 50%;
}
.select {
  padding: 0.5rem;
  border-radius: 4px;
  background-color: inherit;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: inherit;
  appearance: none;
  background-image: url("./assets/icon-arrow-down.svg");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 2rem;
  text-transform: capitalize;
  /* color: var(--white); */
}
.select option {
  background-color: var(--deep-blue);
  text-transform: capitalize;

  padding: 5px;
}
select option :active {
  background-color: var(--deep-blue);
}
.select:focus {
  outline: none;
}

.invoice-container {
  width: 70%;
  margin-inline: auto;
}
.invoice-card {
  font-family: "Montserrat";
  background-color: var(--purple-1);
  border-radius: 5px;
  padding: 1.5rem;
  display: grid;
  cursor: pointer;
  grid-template-columns: max-content max-content 20rem 9rem 1fr auto;
  place-items: center;
  gap: 2.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.invoice-text-bold {
  font-weight: bold;
}
.invoice-text-light {
  font-weight: 400;
  font-size: 1.3rem;
  font-family: "Montserrat";
}

.invoice-status-container {
  /* display: flex; */
  /* align-items: center;
  justify-self: flex-start; */
  text-align: center;

  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  gap: 0.3rem;
  text-align: center;
  text-transform: capitalize;
}
.dot {
  height: 7px;
  width: 7px;
  display: inline-block;
  margin-right: 0.5rem;

  border-radius: 50%;
  background-color: var(--teal);
}
.invoice-status {
  border-radius: 3px;
}
/* MEDIA QUERIES  */
@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }
  .main-section {
    padding: 0;
  }
  header {
    width: 80%;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr;
    margin-top: 0;
  }
  .sidebar {
    width: 100%;
  }
  .invoice-container {
    width: 80%;
    margin-inline: auto;
  }
  .invoice-status-container {
    /* padding: 0; */
  }
  .invoice-card {
    grid-template-columns:
      max-content max-content 1fr 0.5fr
      0.5fr auto;
    /* padding: 0.8rem; */
    margin-bottom: 2rem;

    gap: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .main-section {
    /* padding: 0; */
  }
}
@media (max-width: 600px) {
  html {
    font-size: 45%;
  }

  .invoice-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .invoice-card > * {
    padding: 1rem;
  }
  .span-icon {
    display: none;
  }
  .invoice-text-light {
    grid-row: 2/3;
    /* grid-column: 1/2; */
  }
  .invoice-text-light.name {
    grid-column: 2/-1;
    grid-row: 1/2;
  }
  .invoice-status-container {
    grid-column: 2/3;
  }
  .invoice-text-bold.id {
    grid-row: 1/2;
  }
  .invoice-text-bold {
    grid-row: 3/4;
  }
  .total {
    display: none;
  }
  .num {
    display: inline-block;
  }
  .invoice-btn {
    /* padding: 0.4rem 0.9rem; */
    gap: 3px;
  }
  .filter-by {
    display: none;
  }
  .hide-new {
    display: none;
  }
}
